<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DonutMessager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DonutMessager.Properties.Settings>
            <setting name="LastUserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowChangeHint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoggedUsers" serializeAs="String">
                <value />
            </setting>
        </DonutMessager.Properties.Settings>
    </userSettings>
</configuration>